POSTGRES_USER=your_user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_db_here

RABBITMQ_DEFAULT_USER=your_user_here
RABBITMQ_DEFAULT_PASS=your_password_here
RABBITMQ_ERLANG_COOKIE=some_random_secret_cookie_string

MINIO_ROOT_USER=your_user_here
MINIO_ROOT_PASSWORD=your_password_here

REDIS_PASSWORD=your_password_here